body{
  font-family:Arial, sans-serif;
  background:#f2f2f2;
  margin:0;
  padding:10px;
}

h1{
  text-align:center;
}

.card{
  background:white;
  padding:15px;
  margin:10px 0;
  border-radius:15px;
  box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.highlight{
  background:#dff0d8;
}

input, select, button{
  width:100%;
  padding:10px;
  margin-top:8px;
  border-radius:10px;
  border:1px solid #ccc;
  font-size:16px;
}

button{
  background:#4CAF50;
  color:white;
  border:none;
}

.item{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#fafafa;
  padding:12px;
  border-radius:12px;
  margin-top:8px;
  border:1px solid #eee;
}

.btn-delete{
  width:32px;
  height:32px;
  border-radius:50%;
  border:none;
  background:#ffe5e5;
  color:#d33;
  font-size:18px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.debt-item{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#fafafa;
  padding:12px;
  border-radius:12px;
  margin-top:8px;
  border:1px solid #eee;
}
