body{
font-family:Arial, Helvetica, sans-serif;
background:#f2f2f2;
margin:0;
padding:15px;
}

h1{
text-align:center;
}

.card{
background:white;
padding:15px;
border-radius:15px;
margin-bottom:20px;
box-shadow:0 3px 8px rgba(0,0,0,0.1);
}

.balance{
background:#dff5df;
text-align:center;
}

input,select{
width:100%;
padding:12px;
margin-top:8px;
margin-bottom:10px;
border-radius:10px;
border:1px solid #ccc;
font-size:16px;
}

button{
width:100%;
padding:12px;
border:none;
border-radius:10px;
background:#4CAF50;
color:white;
font-size:16px;
margin-top:5px;
}

button.danger{
background:#e74c3c;
}

.item{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px;
margin-top:8px;
background:#f7f7f7;
border-radius:10px;
}

.deleteBtn{
width:30px;
height:30px;
border-radius:50%;
background:#ffdddd;
color:#c0392b;
display:flex;
align-items:center;
justify-content:center;
font-weight:bold;
cursor:pointer;
}
